[postgresql_conn_data]
host=localhost
port=5432
database=rssraw
user=postgres
password=pYTHON$123

[crypto currency price api]
url = https://coinmarketcap.com
user= yongwei
userid = yongwei.l@gmail.com
password = Coin$123
apiKey = 87659e05-9cb0-42cc-9679-250bb4370584

[rss links]
rss = https://www.newsbtc.com/feed/, https://www.cryptoninjas.net/feed/

